<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <title>Edit Order</title>
</head>
<body>
<h1>Edit Order</h1>
<p>
    <a href="/orders">Order List</a>
</p>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/edit-order}" th:object="${order}" method="post">

    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name: </td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>DateOfPurchase:</td>
            <td><input type="text" th:field="*{dateOfPurchase}"/></td>
        </tr>
        <tr>
            <td>Customer: </td>
            <td>
                <select name ="customer">
                    <option th:each=" s : ${customers}" th:value="${s.id}" th:text="${s.name}" th:selected="(${s.id} ==*{customer.id})">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Order"></td>
        </tr>
    </table>
</form>

</body>
</html>