<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customer List</title>
</head>
<body>
<p>
    <a href="/">Trang chủ</a>
</p>
<br/>
<p>
    <a href="/create-customer">Create new Customer</a>
</p>
<h1>customers</h1>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>


<table border="1">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>BirthOfDate</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="customer :${customers}">
        <tr>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.birthOfDate}"></td>
            <td><a th:href="@{/edit-customer/__${customer.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${customer.id}__}">Delete</a></td>
            <td><a th:href="@{/view-customer}">View</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>